/* Colors */
:root {
    //Primary
    --color-dark-blue: #121725;
    --color-main-euca: #54E6AF;
    --color-main-yellow: #FFB964;

    //Primary Font
    --color-mid-grey: #2C344B;
    --color-grey: #5A668A;
    --color-light-grey: #C2CBE5;

    //Button hover
    --color-euca-light: #B3FFE2;
   

    --color-white: hsla(360, 100%, 100%, 1);
  }